<div class="row">

    <!--  display the hall image -->
    <div class="col-12 col-md-6">

        <div class="thumbnail">
            <img src="{{hall.imageUrl}}" height="450" width="350" alt="" srcset="">
        </div>

    </div>

    <!--  display the hall details -->
    <div class="col-12 col-md-6">

        <h2>{{hall.name}}</h2>
        <hr>

        <p>{{hall.description}}</p>
        <hr>

        <h3>Price: {{hall.unitPrice |currency:'USD'}}</h3>
        <hr>

        <h5>Seating Capacity: {{hall.seatingCapacity}}</h5>
        <hr>

        <!-- Date Picker-->

        <form class="form-inline">
            <div class="form-group">
                <div class="input-group">
                    <input class="form-control" placeholder="Reserve the hall on ..." name="dp" [(ngModel)]="model" [ngModelOptions]="{standalone: true}"
                        ngbDatepicker [minDate]="minDate" [outsideDays]="'hidden'" [footerTemplate]="footerTemplate"
                        #d="ngbDatepicker" [markDisabled]="isDisabled">
                    <div class="input-group-append">
                        <button class="btn btn-outline-secondary calendar" (click)="d.toggle()" type="button"><i
                                class="fas fa-calendar-alt"></i></button>
                    </div>
                </div>
            </div>
        </form>

        <ng-template #footerTemplate>
            <hr class="my-0">
            <i><span class="badge badge-light">Disabled dates are already booked</span></i>
            <!--<button class="btn btn-primary btn-sm m-2 float-left" (click)="model = today; d.close()">Today</button>-->
            <button class="btn btn-secondary btn-sm m-2 float-right" (click)="d.close()">Close</button>
        </ng-template>
        <hr>
        <!---->

        <!-- Back Button -->
        <a routerLink="/halls" class="btn btn-primary btn-lg">
            <i class="fas fa-arrow-left"></i>Back
        </a>

        <!-- Reserve Button -->
        <a class="btn btn-success ml-1 btn-lg" (click)="handleReserve()">
            <i class="fa fa-hand-pointer-o" aria-hidden="true"></i>Reserve
        </a>
    </div>
    <app-toasts aria-live="polite" aria-atomic="true"></app-toasts>
</div>