<div class="row">
    <div class="col-lg-4 col-md-6 mb-4" *ngFor="let tempHall of halls">
        <div class="card h-100">
            <a routerLink="/halls/{{tempHall.id}}">
                <img [src]="tempHall.imageUrl" height="250" class="card-img-top" alt="">
            </a>
            <div class="card-body">
                <a routerLink="/halls/{{tempHall.id}}">
                    <h4 class="card-title">
                        {{tempHall.name}}
                    </h4>
                </a>
                <h5>{{tempHall.unitPrice | currency: 'USD'}}</h5>
                <p class="card-text">{{tempHall.description}}</p>
            </div>
            <!--
            <div class="card-footer">
                <button class="btn btn-primary float-right">Reserve</button>
            </div>
            -->
        </div>
    </div>
</div>